* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #355872;
}

.login {
  background-color: #7AAACE;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 10px;
}

.login h1 {
    color: #F7F8F0;
    font-size: 30px;
}

.fillusername {
  margin-top: 50px;
}

.fillusername h6 {
  color: #F7F8F0;
  font-size: 20px;
}

.fillusername input {
  background-color: #9CD5FF;
  width: 300px;
  height: 25px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  text-align: center;
}

.fillpassword {
  margin-top: 50px;
}

.fillpassword h6 {
  color: #F7F8F0;
  font-size: 20px;
}

.fillpassword input {
  background-color: #9CD5FF;
  border: none;
  text-align: center;
  width: 300px;
  height: 25px;
  border-radius: 10px;
}

.continue button{
  background-color: #355872;
  width: 100px;
  height: 30px;
  border: none;
  margin-top: 40px;
  border-radius: 10px;
}